
.policysmallfont
{
	font-family:Verdana;
	font-size:small;
	
}

.policybigfont
{
	font-family:Verdana;
	font-size:large;
	
}

.policybigfontcenter
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    text-align: center;
    font-weight: bold;
    background-image: url(images/bar.gif); /*Here we load the background image */
    background-repeat:repeat-x;
    background-attachment: scroll;
    margin: 0px;
    border: 0px none;
    
    background-position: left center;
}

.policysmallcenter
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    text-align: center;
    font-weight: bold;
    background-image: url(images/bar.gif); /*Here we load the background image */
    background-repeat:repeat-x;
    background-attachment: scroll;
    margin: 0px;
    border: 0px none;
    
    background-position: left center;
}


.subheading
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    text-align: left;
    color: #ad3a09;
}
.TotalText
{
    font-family: Arial;
    font-size: 12px;
    text-align: left;
    clip: rect(auto auto auto 3%);
}
.totalItalics
{
    font-family: Times Times New Roman;
    font-size: 12px;
    text-align: left;
    font-style: italic;
}
.small {
	font-family: arial;
	font-size: 13px;
	border: 0;
	color: #565656;
}

.smallbold {
	font-family: arial;
	font-size: 13px;
	border: 0;
	color: #565656;
	font-weight:bold;
}
#cdcdcdtext p  {
   font: 13px/14px "Koz Go Pro Extra Light";
   margin: 0px;
   text-align: left;
   color: #0068ED;
}


.navbox {
border-right: #999999 1px solid;
border-left: #999999 1px solid;
border-bottom: #999999 1px solid;
border-top: #7f9aaa 3px solid;
background-color: #FFFFFF;
padding: .188em;
background-image: url(images/back_navbox.gif);
background-repeat: repeat-x;
margin-bottom: .625em;
}
a  {
   text-decoration: none;
	color: #6639111;
}

a:hover
{
text-decoration:underline;
color:Blue;
	
}


a:visited  {
   text-decoration: none;
	color: #6639111;
}



.menuleft{
background-image: url(images/MenuBar.jpg); height: 27px;
}

.menuleft a:hover
{
	background-image: url(images/MenuBarRoll.jpg); height: 27px; 
}




#leftmenu {
width: 13.438em;
padding: 0 0 1em 0;
}
#leftmenu ul {
list-style: none;
margin: 0;
padding: 0;
border-top: 3px solid #ffffff;
border-bottom: 2px solid #ffffff;
}
#leftmenu li {
margin: 0;
padding: 0;
border-bottom: 1px solid #ffffff;
}
#leftmenu li a {
margin: 0;
display: block;
padding: .625em .313em .625em 2.063em;
background-image: url(images/MenuBar.jpg);
background-repeat: no-repeat;
color: #6639111;
text-decoration: none;
font-family: Arial, Helvetica, sans-serif;
font-size: 0.8em;
line-height: 1.25em;
}
#leftmenu li.search {
margin: 0 0 0 0em;
display: block;
padding: .625em .313em .925em 2.063em;
background-image: url(/images/template/common/back_leftmenu_noarror.gif);
background-repeat: no-repeat;
color: #6639111;
text-decoration: none;
font-family: Arial, Helvetica, sans-serif;
font-weight: bold;
}
#leftmenu input[type="text"] {
height: 18px;
width: 10em;
padding: 0;
margin: 0;
color: #000000;
font-weight: normal;
}
#leftmenu input[type="image"] {
height: 18px;
margin: 0 0 0 0;
padding: 0 0 .4em 0;
margin: 0;
color: #000000;
font-weight: normal;
vertical-align: bottom;
}
#leftmenu form{
margin: 0 0 0 .7em; 
}
html>body #leftmenu li a {
width: auto;
}
#leftmenu li a:hover {
background-image: url(images/MenuBarRoll.jpg);
background-repeat: no-repeat;
}
.SearchBar
{
 background-image: url(images/TextBox.jpg); /*Here we load the background image */
 background-repeat: no-repeat;
 background-attachment: scroll;
 height: 20px; /*we specify the the object dimensions like the image dimensions*/
 width: 175px;
 margin: 0px;
 padding: 5px 10px 0px 10px; /*without padding, the text will start from upper-left corner*/
 border: 0px none; /*we do not need any border*/
 background-repeat: no-repeat; background-position: center center;
}
.GoButton
{
    background-image: url(images/Go.jpg); /*Here we load the background image */
    background-repeat: no-repeat;
    background-attachment: scroll;
    margin: 0px;
    border: 0px none;
    padding: 0px 0px 0px 0px;
    background-repeat: no-repeat; background-position: center center;
    height: 22px; /*we specify the the object dimensions like the image dimensions*/
    width: 23px;
}
.LoginButton
{
    background-image: url(images/LoginButton.jpg); /*Here we load the background image */
    background-repeat: no-repeat;
    background-attachment: scroll;
    margin: 0px;
    border: 0px none;
    padding: 0px 0px 0px 0px;
    background-repeat: no-repeat; background-position: center center;
    height: 22px; /*we specify the the object dimensions like the image dimensions*/
    width: 50px;
}
.fileUpload
{
    
}
.TextArea
{
    background-image: url(images/TextArea.jpg); /*Here we load the background image */
    background-repeat: no-repeat;
    background-attachment: scroll;
    margin: 0px;
    border: 0px none;
    background-repeat: no-repeat;
    background-position: left center;
    height: 60px; /*we specify the the object dimensions like the image dimensions*/
    width: 200px;
    padding-bottom: 1px;
    padding-left: 7px;
    padding-right: 1px;
    padding-top: 1px;
    overflow-y: scroll;
}